
@{
    ViewBag.Title = "AlreadyExist";
}

<h2>Image Already Exists in Blob </h2>
<br />
<h2>Original image</h2>
<img src="@ViewBag.Exist" title="Existed Image" />
<h2>Thumbnail</h2>
<img src="@ViewBag.Thumbnail" title="Thumbnail" />
